---
import Layout from '../layouts/Layout.astro';
import CardProject from '../components/ProjectCard.astro';
import HeaderSection from '../components/Sections/HeaderSection.astro';
import NoteCard from '../components/NoteCard.astro';
import userData from '../../public/User/userData.json';
import HeaderPage from '../components/Sections/HeaderPage.astro';

/* add the rest of properties */
interface FrontmatterNotes {
  title: string;
  description: string;
}

/* add the rest of properties */
interface FrontmatterProjects {
  title: string;
  author: string;
  description: string;
}

const projects = await Astro.glob<FrontmatterProjects>('./Projects/*.mdx')

const notes = await Astro.glob<FrontmatterNotes>('./Notes/*.mdx')
---

<Layout title="Inicio" indexNavbar={0}>
	<main>
		<HeaderPage/>
		<section class="section">
			<div class="section-header">
				<span/>
				<h2 class="title">Algunos Proyectos</h2>
			</div>
			<ul>
				{
					projects.map(project => (
						<li class="cardsProjects">
							<CardProject
								title={project.frontmatter.title}
								description={project.frontmatter.description}
								date={project.frontmatter.date}
								href={project.url}
							/>
						</li>
					))
				}
			</ul>
			{
				projects.length > 3 ? (<a class="buttonGetMore">ver mas</a>):null
			}
			
		</section>
		<section class="section">
			<div class="section-header">
				<h2 class="title">Mis notas</h2>
			</div>
			<ul>
				{
					notes.map(note => (
						<li class="cardsProjects">
							<NoteCard
								title={note.frontmatter.title}
								description={note.frontmatter.description}
								date={note.frontmatter.date}
								href={note.url}
								author={note.frontmatter.author}
								urlIcon={note.frontmatter.urlImage}
							/>
						</li>
					))
				}
			</ul>
			{notes.length > 3 ? (<a class="buttonGetMore">ver mas</a>): null}
		</section>
		<section class="section">
			<div class="section-header">
				<h2 class="title">Experiencia en Tecnologias</h2>
			</div>
			<ul>
				{
					userData.technologies.map(item => (
						<li>
							<img class="iconTech" src={item.iconSource}/>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	/* SECTION */

	section{
		width: 100%;
		margin: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-bottom: 50px;
		height: auto;
	}

	.title{
		width: auto;
		border-bottom: solid 2px var(--primary);
		padding: 20px;
		color: var(--DarkTextTitle);
		text-align: center;
	}

	.title::after, .title::before{
		content: " ";
		background-color: var(--background-color);
		width: 20px;
		height: 20px;
		display: inline-block;
		border: 2px solid var(--primary);
		border-radius: 5px;
		transform: rotate(45deg);
	}

	.title::before{
		margin-right: 50px;
	}
	.title::after{
		margin-left: 50px;
	}
	.section-header{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	section ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 100px;
		padding: 50px 0;
	}

	.cardsProjects{
		max-width: 450px;
		margin: 15px;
	}

	.buttonGetMore{
		background-color: var(--boxDarkBackground);
		padding: 10px 50px;
		border-radius: 20px;
	}
	.buttonGetMore:hover{
		opacity: 0.8;
		cursor: pointer;
	}

	.section-item{
		display: flex;
		justify-content: space-evenly;
	}

	.section-item ul{
		width: 100%;
	}
	.iconTech{
		-webkit-filter: drop-shadow(5px 5px 5px #00000031);
		filter: drop-shadow(5px 5px 5px #00000031);
		height: 80px;
	}

	/* TABLET LAYOURT */
	@media screen and (max-width: 1500px){
		.iconTech{
			height: 60px;
		}
	}

	/* MOVILE LAYOURT */
	@media screen and (max-width: 800px){
		.title{
			font-size: 20px;
		}
		.cardsProjects{
			max-width: none;
		}
		.title::before{
			margin-right: 10px;
			width: 10px;
			height: 10px;
			border-radius: 3px;
		}
		.title::after{
			margin-left: 10px;
			width: 10px;
			height: 10px;
			border-radius: 3px;
		}

		section ul{
			gap: 50px;
		}
	}
</style>
