---
import { dateFormat } from '../Utils/Utils';
export interface Props{
    title: string;
    description: string;
    date: string;
    author: string;
    urlIcon: string;
    href?: string;
}

const {href, urlIcon, title, description, date, author} = Astro.props;
---

<div class="NoteCard">
    <a href={href}>
        <div class="NoteCard-header">
            <div class="NoteCard-header-icon">
                <img src={urlIcon}>
            </div>
            <div>
                <h3 class="NoteCard-header-title">{title}</h3>
                <!--<h3 class="NoteCard-header-author">@{author}</h3>-->
            </div>
        </div>

        <div class="NoteCard-header-coverImage">
        </div>

        <p>
            {description.substring(1, 100)}...
        </p>

        <div class="NoteCard-footer">
            <span>{dateFormat(date)}</span>
        </div>
    </a>
</div>
<style>
    .NoteCard{
        list-style: none;
        display: flex;
        align-items: center;
    }
    .NoteCard-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .NoteCard-header > div{
        display: flex;
        flex-direction: column;
    }

    .NoteCard-header-icon{
        width: 70px;
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid var(--opacity);
    }

    .NoteCard-header-title{
        font-size: 20px;
        font-weight: 400;
        color: var(--darkTextTitle);
        margin-bottom: 5px;
    }

    .NoteCard-header-author{
        font-size: 20px;
        font-weight: 400;
    }

    .NoteCard-header-coverImage{
        width: 100%;
        height: auto;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .NoteCard-header-coverImage > img{
        width: 100%;
    }

    .NoteCard-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 10px;
    }

    .NoteCard-footer>span{
        font-size: 16px;
        color: var(--darkTextSubtitle);
    }

    .NoteCard p{
        background-color: var(--boxDarkBackground);
        padding: 30px;
        border-radius: 10px;
        color: var(--darkText);
        min-width: 100px;
        margin-bottom: 10px;
    }

    /*MOBILE LAYOUT */
	@media screen and (max-width: 500px){
        .NoteCard-header-icon{
            width: 50px;
        }
        .NoteCard-header-title{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0px;
        }
        .NoteCard p{
            padding: 20px;
        }

	}
</style>