---
import { dateFormat } from '../Utils/Utils';
export interface Props{
    title: string;
    description: string;
    date: string;
    author: string;
    urlIcon: string;
    href?: string;
}

const {href, urlIcon, title, description, date, author} = Astro.props;
---

<div class="NoteCard">
    <a href={href}>
        <div class="NoteCard-header">
            <div class="NoteCard-header-icon">
                <img src={urlIcon}>
            </div>
            <div>
                <h2 class="NoteCard-header-title">{title}</h2>
                <h2 class="NoteCard-header-author text-gradient">@{author}</h2>
            </div>
        </div>

        <div class="NoteCard-header-coverImage">
        </div>

        <p>
            {description.substring(1, 100)}...
        </p>

        <div class="NoteCard-footer">
            <span>{dateFormat(date)}</span>
        </div>
    </a>
</div>
<style>
    .NoteCard{
        list-style: none;
        display: flex;
        align-items: center;
    }
    .NoteCard-header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .NoteCard-header > div{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .NoteCard-header-icon{
        width: 70px;
        border-radius: 10px;
        overflow: hidden;
        border: 5px double var(--opacity)
    }

    .NoteCard-header-title{
        font-size: 25px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 5px;
    }

    .NoteCard-header-author{
        font-size: 20px;
        font-weight: 400;
    }

    .NoteCard-header-coverImage{
        width: 100%;
        height: auto;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .NoteCard-header-coverImage > img{
        width: 100%;
    }

    .NoteCard-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .NoteCard-footer>span{
        font-size: 14px;
        color: rgba(0, 0, 0, 0.40);
    }

    .NoteCard p{
        background-color: var(--boxDarkBackground);
        padding: 30px;
        border-radius: 10px;
        color: rgba(0, 0, 0, 0.55);
        min-width: 100px;
    }

    /*MOBILE LAYOUT */
	@media screen and (max-width: 800px){
        .NoteCard-header-icon{
            width: 50px;
        }
        .NoteCard-header-title{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0px;
        }
        .NoteCard-footer>span{
            color: rgba(0, 0, 0, 0.40);
        }
		
	}

	/* TABLET LAYOURT */
	@media screen and (max-width: 1500px){
		
	}
</style>