---
import { Icon } from 'astro-icon';
import userData from '../../public/User/userData.json';


export interface Props {
	title: string;
	indexNavbar: number;
}

const { title, indexNavbar } = Astro.props;

---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="topBar">
			<span class="logo">
				<a href="/">
					<span class="text-gradient">RJRA</span>&gt{title!=="Inicio"?title:""}<span class="coursor">_</span>
				</a>
			</span>
			<div class="group">
				{title==="Inicio"?(
					<a class="buttonDownload" href={userData.resumeDownloadPath}>
						<Icon width="20" pack="mdi" name="download"/>
						Descargar CV
					</a>
				):null}
				
				<button class="buttonMenu" id="MenuOpenButton">
					<Icon width="30" pack="mdi" name="menu"/>
				</button>
				<span class="time" id="time"></span>
			</div>
		</nav>
		<nav class="rightBar" id="rightBar">
			<button class="buttonCloseMenu" id="MenuCloseButton">
				<Icon width="30" pack="mdi" name="close"/>
			</button>
			<ul class="closeSideBar">
				<li class={indexNavbar === 0? "active" : ""}><a href="/">acerca de mi</a></li>
				<li class={indexNavbar === 1? "active" : ""}><a href="/projects">proyectos</a></li>
				<li class={indexNavbar === 2? "active" : ""}><a href="/notes">mis notas</a></li>
			</ul>
		</nav>
		<div class="content">
			<slot/>
			<footer>
				<p>Copyright © {new Date().getFullYear()} | Todos los derechos reservados.</p>
			</footer>
		</div>
	</body>
</html>
<style is:global>
	
	:root {
		--accent: 38, 222, 191;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(198, 108, 239)  30%, rgb(4, 4, 4) 60%);
		--background-color: #eee1d7;
		--secondary-color: #029FAA;

		--primary-text: rgba(255, 255, 255, 0.80);
		--primary-text__hover: rgba(255, 255, 255, 1);

		--secondary-text: rgba(0, 0, 0, 0.8);
		--secondary-text__hover: rgb(0, 0, 0);

		--primary: #1c7cf9;
		--opacity: rgba(0, 0, 0, 0.2);

		--lightTextTitle: rgba(255, 255, 255, 0.80);
		--darkTextTitle: rgba(0, 0, 0, 0.80);

		--lightTextSubtitle: rgba(255, 255, 255, 0.40);
		--darkTextSubtitle: rgba(0, 0, 0, 0.40);

		--lightText: rgba(255, 255, 255, 0.60);
		--darkText: rgba(0, 0, 0, 0.60);

		--boxDarkBackground: rgba(0, 0, 0, 0.08);
		--boxLightBackground: rgba(255, 255, 255, 0.08);
	}
	*{
		box-sizing: border-box;
        margin: 0px;
		padding: 0px;
        text-decoration: none;
    }
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--background-color);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	p{
		font-family: 'Roboto Mono', sans-serif;
		font-weight: 200;
	}
	h1, h2, h3, h3{
		font-family: 'Open Sans', sans-serif;
	}
	body{
		height: 100vh;
		display: grid;
		grid-template-columns: auto 150px;
		grid-template-rows: 100px auto;
	}
	h2{
		font-size: 30px;
		font-weight: 400;
	}
	h3{
		font-size: 20px;
		font-weight: 400;
	}
	ul{
		list-style: none;
	}
	li{
		margin: 0;
		padding: 0;
	}
	a{
		color: var(--secondary-text);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
<style>
	.content{
		display: grid;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		-ms-overflow-style: none;
  		scrollbar-width: none;
	}
	.content::-webkit-scrollbar{
		display: none;
	}

	/*
		TOP BAR STYLES
	*/
	.topBar{
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: var(--background-color);
		padding: 0 50px;
	}
	.buttonDownload{
		background-color: var(--primary);
		color: var(--primary-text);
		border: none;
		font-size: 14px;
		padding: 10px;
		border-radius: 30px;
		padding: 10px 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.buttonMenu, .buttonCloseMenu{
		border: none;
		padding: 7px;
		justify-content: center;
		background: none;
		align-items: center;
		border-radius: 10px;
		cursor: pointer;
		display: none;
	}


	@keyframes backgroundBlurShowAnimation{
		0% {
			backdrop-filter: blur(5px);
		}
		100%{
			backdrop-filter: blur(0px);
		}
	}

	.buttonDownload:hover{
		opacity: 0.9;
		color: var(--primary-text__hover);
	}
	.logo{
		font-size: 20px;
		font-weight: 600;
	}
	.webSiteTitle{
		color: var(--accent-gradient);
	}
	.coursor{
		animation: blink-cursor .5s infinite step-end alternate;
	}

	.open{
		display: flex !important;
	}

	@keyframes blink-cursor{
		50%{color: transparent}
	}
	.time{
		font-size: 20px;
		font-weight: 600;
	}
	.group{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.group > span {
		margin-left: 100px;
	}

	[astro-icon="download"] {
        color: var(--primary-text);
        margin-right: 10px;
    }

	[astro-icon="menu"], [astro-icon="close"]{
        color: var(--secondary-text);
        margin-right: 10px;
    }

	footer{
		background-color: var(--boxDarkBackground);
		border-top: double 5px var(--opacity);
		border-right: double 5px var(--opacity);
		padding: 40px 0;
		display: flex;
		border-radius: 0 15px 0 0;
		justify-content: center;
		align-items: center;
		height: 40px;
		color: var(--darkTextSubtitle);
	}

	/*
		RIGHT BAR STYLES
	*/

	.rightBar{
		display: grid;
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	.rightBar ul{
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.rightBar ul li{
		padding: 20px 10px;
		border-radius: 10px;
		writing-mode: vertical-rl;
		font-size: 15px;
		margin-bottom: 5px;
	}


	.rightBar ul li:hover{
		background-color: var(--boxDarkBackground);
		cursor: pointer;
	}

	.active{
		background-color: var(--boxDarkBackground);
	}
	/* TABLET LAYOURT */
	@media screen and (max-width: 1500px){
		body{
			/*max-width: 95%;*/
		}
	}
	/* MOBILE LAYOURT */
	@media screen and (max-width: 800px){
		body{
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: 70px auto !important;
		}
		footer{
			border-right: none;
			padding: 20px 0;
			font-size: 14px;
			border-radius: none;
			color: var(--darkTextSubtitle);
			text-align: center;
		}

		.time{
			display: none;
		}

		.buttonDownload{
			font-size: 12px;
			padding: 7px 12px;
		}

		.content{
			grid-column: 1 / 3;
		}

		.rightBar{
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			width: auto;
			backdrop-filter: blur(5px);
			height: auto;
			writing-mode: horizontal-tb;
			display: none;
			justify-content: right;
		}

		.buttonCloseMenu, .buttonMenu{
			display: block;
		}

		.rightBar ul{
			padding: 0 50px;
			width: auto;
			height: auto;
			background-color:var(--background-color);
			box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.255);
			border: solid 0.5px rgba(0, 0, 0, 0.292);
			border-radius: 15px;
			margin: 20px 10px;
		}
		.rightBar ul li{
			width: 100%;
			text-align: center;
			writing-mode: horizontal-tb;
			color: var(--secondary-text);
		}
		
		.topBar{
			padding: 0 20px;
		}
	}
</style>
<script>
	let menuElement = document.querySelector('#rightBar');
	let timeElement = document.getElementById('time');

	function updateTime(){
		let time = new Date();
		let hours = time.getHours() % 12;
		let minutes = `0${time.getMinutes()}`.slice(-2);
		timeElement!.innerText= `${hours===0?'12':hours}:${minutes} ${time.getHours() >= 12? ' pm' : 'am'}`;
	}
	function toggleMenu(){
		menuElement?.classList.toggle('open');
	}

	document.querySelector('#MenuOpenButton')?.addEventListener('click', toggleMenu);
	document.querySelector('#MenuCloseButton')?.addEventListener('click', toggleMenu);

	updateTime();
	setInterval(updateTime, 1000)
</script>
